<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'weather:index' %}">
                    <img src="https://i.pinimg.com/originals/77/0b/80/770b805d5c99c7931366c2e84e88f251.png" alt="Logo"
                         width="30" height="24"
                         class="d-inline-block align-text-top">
                    Sunny Forecast
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Сохраненные
                    </a>
                    <ul class="dropdown-menu">
                        {% for visit in request.session.last_visited_pages %}

                            <li><a class="dropdown-item" href="{{ visit.path }}">{{ visit.title }}</a></li>
                            {% if not forloop.last %}
                        <hr class="dropdown-divider">
                            {% endif %}
                        {% endfor %}


                    </ul>
                </li>
            </ul>
            <form class="d-flex w-100" role="search" method="post">
                {% csrf_token %}
                <div class="col-sm-3">
                    <input class="form-control me-2" type="search" name="{{ form.search_field.name }}"
                           placeholder="{{ form.search_field.label }}"
                           value="{{ form.search_field.value|default_if_none:'' }}">
                </div>
                <input class="btn btn-outline-primary ms-2 " type="submit"></input>
            </form>
        </div>
    </div>
</nav>