<div class="container-fluid d-flex align-items-center justify-content-center " style="padding-top:10% ">
    <div class="card " style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
{#            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
{#                card's content.</p>#}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Температура сейчас: {{ forecast.temperature | floatformat }} градусов</li>
            <li class="list-group-item">Осадки: {{ forecast.humidity |floatformat }}%</li>
            <li class="list-group-item">Ощущается как: {{ forecast.apparent_temperature |floatformat }}</li>
            <li class="list-group-item">{% if  forecast.is_day == 1 %}Сейчас день {% else %} Сейчас ночь{% endif %}</li>
            <li class="list-group-item">Скорость ветра: {{ forecast.wind_speed |floatformat }} м/с</li>
        </ul>
{#        <div class="card-body">#}
{#            <a href="#" class="card-link">Card link</a>#}
{#            <a href="#" class="card-link">Another link</a>#}
{#        </div>#}
    </div>
</div>