<div class="container-fluid d-flex align-items-center justify-content-center " style="padding-top:10% ">
    <div class="card " style="width: 18rem;">
        {% if not forecast %}
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">К сожалению данных о  городе {{ title }} нет</div>
                <div class="card-body">
                    <h5 class="card-title">Пожалуйста убедитесь в правильности введенного города</h5>
                </div>
            </div>
        {% else %}
            <div class="card-body">
                <h5 class="card-title">{{ forecast.city.name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Температура сейчас: {{ forecast.temperature | floatformat }} градусов</li>
                <li class="list-group-item">Осадки: {{ forecast.humidity |floatformat }}%</li>
                <li class="list-group-item">Ощущается как: {{ forecast.apparent_temperature |floatformat }}</li>
                <li class="list-group-item">{% if  forecast.is_day == 1 %}Сейчас день {% else %} Сейчас
                    ночь{% endif %}</li>
                <li class="list-group-item">Скорость ветра: {{ forecast.wind_speed |floatformat }} м/с</li>
            </ul>
            </div>
        {% endif %}

</div>